body {
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

button:hover,
button:focus {
  background-color: #2196f3;
  color: white;
}

.images h3 {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  color: #212121;
  line-height: 36px;
}

.images p {
  font-size: 16px;
  letter-spacing: 0.03em;
  color: #757575;
  line-height: 30px;
}

.header-item a {
  color: #757575;
}

.navbar a {
  color: #212121;
}
a:hover,
a:focus {
  color: #2196f3;
}

.text-card {
  color: #757575;
  font-family: "Roboto";

  font-size: 14px;
  line-height: 24px;
}

.text-cardp {
  color: #757575;
  font-size: 16px;
  font-family: "Roboto";

  line-height: 19px;
}
